





<div class="rowA">
  <div id="leaderboard" class="col-sm-4">
    <div id="left-board" class="board">
      <h4 class="board-title"><i class="fa fa-trophy"></i> LEADERBOARD</h4>
      <ol>
        <li>Momo</li>
        <li>Rosa</li>
        <li>Momo_clone</li>
        <li>John</li>
        <li>Colt</li>
      </ol>
    </div>
  </div>
  <div id="gameStats" class="col-sm-4">
    <div id="middle-board" class="board">
      <h4 class="board-title"><i class="fa fa-line-chart"></i> <%= (current_player.name).capitalize %>'s Game Stats</h4>
      <div id="stat" class="text-center">
        <span id="win">WIN</span>
        <span id="loss">LOSS</span>
        <span id="points">TOTAL PTS</span>
      </div>
    </div>
  </div>
  <div id="gameHistory" class="col-sm-3">
    <div id="right-board" class="board">
      <h4 class="board-title"><i class="glyphicon glyphicon-list-alt"></i> Game Timeline</h4>
      <ol>
        <li>Momo</li>
        <li>Rosa</li>
        <li>Momo_clone</li>
        <li>John</li>
        <li>Colt</li>
      </ol>
    </div>
  </div>
</div>
