#wrapper {
  background: #F3F3F4; }

/* NAVBAR: SIDEBAR */
#sidebar {
  background: #2A3D50;
  z-index: 5;
  padding: 0; }

#sidebar #side-menu li {
  padding: 10px 0; }
  #sidebar #side-menu li a {
    color: #7DCC93;
    font-size: 1.1em; }
    #sidebar #side-menu li a:hover {
      cursor: pointer;
      color: #2A3D50; }
    #sidebar #side-menu li a:visited {
      outline: 0;
      outline-offset: 0; }

#logo {
  width: 60%; }

.pingpong-logo {
  border-bottom: 1px solid #7DCC93; }

/* NAVBAR: TOP NAVBAR */
.navbar-header {
  float: right; }

.row {
  background: #FFF; }

.row,
#topNavBar {
  max-height: 62px; }

#logo-text {
  width: 25%;
  position: absolute;
  top: 20px;
  left: 20px; }

.navbar-right {
  padding-right: 2em; }

.btn.btn-default.navbar-btn {
  width: 130px;
  color: #CCC; }

#user-credential a:hover {
  background: none; }

.btn.btn-default.navbar-btn:hover {
  color: #666666;
  background: #FFF; }
  .btn.btn-default.navbar-btn:hover:active {
    background: #FFF; }

.hasAcct {
  color: #7DCC93;
  float: right; }

#welcome-player {
  color: #7DCC93; }

#user-credential .signout a {
  color: #999999; }
  #user-credential .signout a:hover {
    color: #2A3D50; }

/* PLAYER SIGNUP & SIGNIN PAGES*/
.container {
  margin-top: 18px;
  background: #F3F3F4; }

.row-signup,
.row-signin {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #FFF;
  padding-bottom: 2em; }

.row-signin .form-control {
  margin: 5px 0; }

#createAcct,
#signInAcct {
  color: #F3F3F4;
  background: #7DCC93;
  border: 1px solid #40a35c; }

#createAcct:hover,
#signInAcct:hover {
  background: #47b566;
  color: #FFF; }

/* BODY: CONTENT - LEADERBOARD */
.rowA,
.board {
  background-color: #FFF; }

.board {
  padding: 1em 1.2em;
  border-top: 3px solid #7DCC93;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4); }

.board-title {
  color: #2A3D50;
  padding-bottom: 10px;
  border-bottom: 1px solid #7DCC93; }

/* BODY: CONTENT - PLAYER STATS*/
#gameStats ul li {
  display: inline; }

#stat span {
  float: left;
  position: relative;
  top: 0;
  width: 88px;
  height: 88px;
  border-radius: 3px;
  margin: 0 12px 11px 0;
  color: #FFF;
  line-height: 56px;
  text-align: center;
  transition: all 0.2s ease;
  -webkit-box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4); }
  #stat span#win {
    background: #47b566; }
  #stat span#loss {
    background: #7DCC93; }
  #stat span#points {
    background: #6daed9; }

#gameStats,
#middle-board {
  overflow: hidden; }

.fa-trophy,
.fa-line-chart {
  color: #7DCC93;
  font-size: 28px; }

.glyphicon-list-alt {
  color: #7DCC93; }

/* BODY: CONTENT - GAME HISTORY*/

/*# sourceMappingURL=pingpong.css.map */
